h1{ 
    color: blue;
    text-align: center;
}

header{
    color: blue;
    text-align: center;
}

p{
    color: blue ;
    text-align: center;
    
    
}


*{
    background-color: aliceblue;
}

img6{
    color: azure;
    text-align: right;
}





